@import url('font.css');
@import url('reset.css');
* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
}

.height100{
    height: 100%;
}

.text-semibold {
    font-family: 'Montserrat Semi Bold';
}

.text-bold {
    font-family: 'Montserrat Bold';
}

.text-rosa{
    color: #ff3b73;
}

@media screen and (max-width: 1024px) {
    .br-desktop {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .br-mobile {
        display: none;
    }
}

/*
 * MENU
 */

.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: 99999;
    height: 65px;
}

.menu.is-active {
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 22px -8px rgba(65, 64, 66, 0.3);
    -moz-box-shadow: 0px 5px 22px -8px rgba(65, 64, 66, 0.3);
    box-shadow: 0px 5px 22px -8px rgba(65, 64, 66, 0.3);
}

.menu-content {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 0 60px;
}

.menu-content.is-active {
    height: 280px;
    background-color: #ffffff;
}

.menu-logo-content {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: space-between;
}

.menu-logo {}

.menu-logo-img {
    max-width: 90px;
}

.menu-right {
    width: 500px;
    transition: max-height .2s ease-out;
}

.menu-right-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-right-item {
    padding: 8px 12px;
}

.menu-right-item:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.menu-right-item-link {
    color: #ffffff;
    font-family: 'Montserrat Medium';
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.menu-right-item:hover .menu-right-item-link {
    color: #ff3b73;
}

.menu.is-active .menu-right-item:hover {
    background-color: #ff3b73;
    border-radius: 10px;
}

.menu.is-active .menu-right-item:hover .menu-right-item-link {
    color: #ffffff;
}

.menu.is-active .menu-right-item-link {
    color: #ff3b73;
}

.menu-right-item.menu-right-item-button {
    background-color: #ffffff;
    border-radius: 5px;
}

.menu-right-item.menu-right-item-button .menu-right-item-link {
    color: #ff3b73;
}

/*
 * Menu Bar Responsive.
 */

.menu-icon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before, .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

.menu-content.is-active .menu-icon .navicon {
    background: transparent;
}

.menu-content.is-active .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-content.is-active .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-content.is-active .menu-icon:not(.steps) .navicon:before, .menu-content.is-active .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media screen and (max-width: 768px) {
    
    .menu-content {
        flex-direction: column;
        background: #ffffff;
        -webkit-box-shadow: 0px 5px 22px -8px rgba(65, 64, 66, 0.3);
        -moz-box-shadow: 0px 5px 22px -8px rgba(65, 64, 66, 0.3);
        box-shadow: 0px 5px 22px -8px rgba(65, 64, 66, 0.3);
    }
    .menu-logo-content {
        width: 100%;
    }
    .menu-icon {
        display: block;
    }
    .menu-right {
        width: 100%;
        clear: both;
        display: none;
        height: 200px;
        margin-bottom: 10px;
    }
    .menu-content.is-active .menu-right {
        display: block
    }
    .menu-right-list {
        display: block;
        align-items: initial;
        height: 200px;
        justify-content: initial;
    }
    .menu-right-item-link {
        color: #ff3b73;
    }

    .menu-right-item:hover .menu-right-item-link {
        color: #434244;
    }
}

/*
 * FOOTER
 */

.footer {
    border-bottom: 4px solid #ff3b73;
    background-color: #f5f5f5;
    width: 100%;
    padding: 50px 0;
}

.footer-columns {
    display: flex;
}

.footer-column-desc {
    padding-right: 80px;
    width: 35%;
}

@media screen and (max-width: 1024px) {
    .footer-column-desc {
        padding-right: 40px;
    }
}

.footer-desc-logo {
    color: #434244;
    font: 11px/16px 'Montserrat Light';
    letter-spacing: 0.4px;
}

.footer-desc-img {
    width: 120px;
    display: block;
    margin-bottom: 15px;
}

.footer-contato {
    margin-top: 40px;
}

.footer-contato-text {
    color: #434244;
    font: 11px/20px 'Montserrat Light';
    letter-spacing: 0.4px;
    margin: 10px 0;
}

.footer-column-links {
    width: 25%;
}

.footer-links-title {
    color: #ff3b73;
    font: 13px/16px 'Montserrat Bold';
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-links {
    color: #434244;
    font: 11px/30px 'Montserrat Regular';
    display: block;
    text-decoration: none;
}

.footer-column-redes {
    width: 15%;
}

.footer-redes-links {
    align-items: center;
    display: flex;
    text-decoration: none;
}

.footer-redes-img {
    height: auto;
    width: 16px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .footer-columns {
        /*flex-direction: column;*/
    }
    .footer-column-desc {
        width: 70%;
    }
    .footer-column-links {
        display: none;
    }
    .footer-column-redes {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .footer-columns {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .footer-column-desc {
        width: 100%;
        padding: 0;
    }
    .footer-desc-img {
        margin: 0 auto 15px;
    }
    .footer-column-redes {
        margin-top: 20px;
        width: 100%;
    }
    .footer-redes-content {
        display: flex;
        justify-content: center;
    }
    .footer-redes-content .footer-links {
        display: none;
    }
}