#cadastro{
    margin-top: 150px;
}

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 50px;
}

.header-title {
    max-width: 270px;
    width: 100%;
}

.header-title h1 {
    color: #434244;
    font: 20px 'Montserrat Light';
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.header-gerenciar {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    max-width: 170px;
    width: 100%;
}

.header-gerenciar-icon {
    width: 20px;
}

.header-gerenciar span {
    color: #434244;
    font: 12px 'Montserrat Light';
    letter-spacing: 0.4px;
    margin-left: 12px;
}

.form {

}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.section-column-left {
    width: 60%;
}

.section-column-right {
    width: 40%;
}

.section-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    padding-bottom: 45px;
    width: 90%;
    margin: 0 auto;
}

.section-title {
    background-color: #f3f6f9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #434244;
    font: 20px 'Montserrat Bold';
    padding: 25px;
    text-transform: uppercase;
}

.form-group {
    padding: 0 25px;
}

.form-line{
    display: flex;
    justify-content: left;
    margin: 16px 0;
}

.form-input {
    background-color: #ffffff;
    border: 1px solid #ff3b73;
    border-radius: 10px;
    color: #434244;
    font: 12px 'Montserrat Light';
    letter-spacing: 0.2px;
    max-width: 240px;
    padding: 14px 12px;
    width: 100%;
}

.form-input:nth-child(2){
    margin-left: 20px;
}

.section-box-pagamento .form-input{
    max-width: none;
}

.form-input-select-content {
    height: 50px;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: #ff3b73;
    width: 90%;
    border-radius: 100px;
    padding: 16px 30px;
    margin: 0 auto 20px;
}

.form-input-tipoUsuario{
    background: transparent;
    border: none;
    border-radius: 100px;
    padding: 16px 30px;
    color: #ffffff;
    text-transform: uppercase;
    font: 15px 'Montserrat Bold';
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}