/*
 * Máquina e Contato.
 */

.maquina-contato {
    position: relative;
}

.maquina-contato:before {
    background: url(../img/contato/effects.png) top left no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: -1;
}

.maquina-contato:after {
    background: url(../img/contato/background.png) top right no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.maquina-contato-columns {
    display: flex;
    padding: 140px 0 100px;
}

.maquina {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    width: 50%;
}

.maquina-title {
    color: #434244;
    font: 23px 'Montserrat Bold';
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.maquina-text {
    color: #434244;
    font: 14px/16px 'Montserrat Regular';
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.maquina-btn {
    background-color: #ff3b73;
    border: solid 1px #ff3b73;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    color: #ffffff;
    font: 12px 'Montserrat Medium';
    padding: 11px 18px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.maquina-btn:hover {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
}

.maquina-btn.maquina-btn-border {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
    margin-left: 10px;
}

.maquina-btn.maquina-btn-border:hover {
    background-color: #ff3b73;
    color: #ffffff;
}

.contato {
    width: 50%;
}

.contato-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    padding: 40px 30px;
}

.contato-title {
    color: #434244;
    font: 20px 'Montserrat Bold';
    margin-bottom: 30px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
}

.contato-title:before {
    background: #ff3b73;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
    width: 4px;
}

.contato-input {
    background-color: #ffffff;
    border: 1px solid #ff3b73;
    border-radius: 10px;
    font: 12px 'Montserrat Light';
    height: 42px;
    letter-spacing: 0.2px;
    margin: 7.5px 0;
    padding: 0 12px;
    width: 100%;
}

.contato-textarea {
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    padding: 12px;
}

.contato-btn-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    width: 100%;
}

.contato-btn {
    background-color: #ff3b73;
    border: solid 2px #ff3b73;
    border-radius: 10px;
    color: #ffffff;
    font: 15px 'Montserrat Bold';
    letter-spacing: 0.5px;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.contato-btn:hover {
    background-color: #ffffff;
    color: #ff3b73;
}

@media screen and (max-width: 768px) {
    .maquina-contato:before {
        display: none;
    }

    .maquina-contato:after{
        right: 0;
        width: 50%;
        left: auto;
        background-size: contain;
    }

    .maquina-contato-columns {
        flex-direction: column;
    }

    .maquina, .contato{
        margin: 0 auto;
        width: 80%;
    }

    .maquina{
        margin-bottom: 110px;
        padding-right: 0;
    }

    .maquina-contato-columns {
        padding: 180px 0 100px;
    }

}

@media screen and (max-width: 480px) {
    .maquina, .contato{
        width: 100%;
    }

    .maquina{
        width: 90%;
    }

    .maquina-title {
        font: 20px 'Montserrat Bold';
    }

    .maquina-text{
        font:   12px/16px 'Montserrat Regular';
    }

}

@media screen and (max-width: 335px) {
    .maquina-contato:after{
        width: 90%;
    }
    .maquina-btn.maquina-btn-border{
        margin-left: 0;
        margin-top: 30px;
        display: block;
        width: fit-content;
    }

}