.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../img/empresa/bubble-header.png') top right no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.header:before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url('../img/empresa/homem.png') top center no-repeat;
    width: 90%;
    height: 90%;
    z-index: 10;
    background-size: contain;
}

.header-content {
    max-width: 1024px;
    margin: 0 auto;
}

.header-content-text {
    max-width: 350px;
    padding-top: 20vh;
    box-sizing: border-box;
}

.header-title {
    font: 24px 'Montserrat Bold';
    letter-spacing: 1px;
    color: #434244;
    margin-bottom: 30px;
}

.header-text {
    font: 12px 'Montserrat Regular';
    color: #434244;
}

.historia {
    padding-top: 100px;
    position: relative;
}

.historia:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../img/empresa/fundo.png') top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.historia-title {
    font: 20px 'Montserrat Bold';
    color: #ff3b73;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 20px;
}

.historia-subtitle {
    font: 15px 'Montserrat Regular';
    color: #434244;
    text-align: center;
    max-width: 600px;
    margin: 30px auto 0;
}

.historia-img-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.historia-img {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.quem-somos {
    padding-top: 80px;
    padding-bottom: 90px;
    position: relative;
    width: 100%;
}

.quem-somos:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../img/empresa/quem-somos/fundo.png') top center no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.quem-somos-content-title {
    text-align: center;
}

.quem-somos-title {
    font: 20px 'Montserrat Bold';
    color: #ffffff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.quem-somos-subtitle {
    font: 15px 'Montserrat Regular';
    color: #ffffff;
    letter-spacing: 0.5px;
}

.quem-somos-pessoas {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.quem-somos-item {
    background-color: #ffffff;
    box-shadow: 0px 0px 16px 5px rgba(28, 27, 34, 0.2);
    -moz-box-shadow: 0px 0px 16px 5px rgba(28, 27, 34, 0.2);
    -webkit-box-shadow: 0px 0px 16px 5px rgba(28, 27, 34, 0.2);
    border-radius: 10px;
    padding: 35px 20px;
    box-sizing: border-box;
    width: 32%;
}

.quem-somos-content {
    display: flex;
    flex-wrap: nowrap;
}

.quem-somos-img {
    padding-right: 20px;
}

.quem-somos-nome {
    font: 13px 'Montserrat Regular';
    color: #ff3b73;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.quem-somos-cargo {
    font: 11px 'Montserrat Regular';
    color: #434244;
    margin-bottom: 15px;
}

.quem-somos-text {
    font: 12px 'Montserrat Regular';
    color: #434244;
}

.testar {
    position: relative;
    padding: 50px 0;
}

.testar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../img/empresa/circle.png') top right no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.testar-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.maquina {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maquina-title {
    color: #434244;
    font: 23px 'Montserrat Bold';
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.maquina-text {
    color: #434244;
    font: 14px/16px 'Montserrat Regular';
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.maquina-btn {
    background-color: #ff3b73;
    border: solid 1px #ff3b73;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    color: #ffffff;
    font: 12px 'Montserrat Medium';
    padding: 11px 18px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.maquina-btn:hover {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
}

.maquina-btn.maquina-btn-border {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
    margin-left: 10px;
}

.maquina-btn.maquina-btn-border:hover {
    background-color: #ff3b73;
    color: #ffffff;
}

@media screen and (max-width: 768px){
    .quem-somos-pessoas{
        flex-direction: column;
    }
    .quem-somos-item{
        width: 100%;
    }
    .testar-content-img{
        display: block;
    }
}