#features {
    background: url('../img/features/bg.png') center 300px no-repeat;
    background-color: #ffffff;
    background-size: cover;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 0;
}

.section-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content-container {
    max-width: 400px;
}

.section-title {
    font: 23px/28px 'Montserrat Bold';
    letter-spacing: 1px;
    color: #434244;
}

.section-title-highlight {
    color: #ff3b73;
}

.section-text {
    font: 12px/16px 'Montserrat Regular';
    letter-spacing: 0.4px;
    color: #434244;
}

.section-text p {
    margin: 20px 0;
}

.section-img-content {
    width: 50%;
}

.section-img-content .right {
    text-align: right;
}

.section-img {
    -webkit-box-shadow: 11px 11px 0px 0px rgb(255, 59, 115);
    -moz-box-shadow: 11px 11px 0px 0px rgb(255, 59, 115);
    box-shadow: 11px 11px 0px 0px rgb(255, 59, 115);
}

.header {
    position: relative;
    min-height: 750px;
    margin: 0;
}

.header::after {
    background: url(../img/features/banner.png) center right no-repeat;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 48%;
    z-index: -1;
}

.header-content {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .header::after {
        width: 50%;
    }
    .section-img {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .section-title {
        font: 19px/24px 'Montserrat Bold';
    }
}

@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
        margin: 70px 0;
    }
    .section.right {
        flex-direction: column-reverse;
    }
    .section-img-content {
        margin-bottom: 40px;
        width: 100%;
        max-width: 500px;
        text-align: center !important;
    }
    .section-content {
        width: 100%;
    }
    .section-content-container {
        max-width: 370px;
    }
    .header {
        min-height: initial;
        margin-top: 80px;
    }
    .header::after {
        display: none;
    }
    .header-content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .section-img {
        width: 100%;
    }
    .section-title {
        font: 18px/22px 'Montserrat Bold';
    }
    .section-text {
        font: 11px/15px 'Montserrat Regular';
    }
}