#home {
    position: relative;
}

#home:after {
    background: url('../img/home/background.png') top right no-repeat;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 820px) {
    #home{
        margin-top: 70px;
    }
    
    #home:after {
        display: none;
    }
}

.vitrine-container{
    margin: 0 auto ;
    max-width: 1400px;
    width: 90%;
}

.vitrine {
    align-items: center;
    display: flex;
    height: calc(100vh);
    justify-content: space-between;
    width: 100%;
    padding-top: 65px;
}

.vitrine-left {
    width: 35%;
}

.vitrine-left-title {
    color: #152842;
    font: 30px 'Montserrat Bold';
    margin-bottom: 30px;
}

.vitrine-left-text {
    color: #152842;
    font: 16px 'Montserrat Regular';
    margin-bottom: 40px;
}

.vitrine-left-buttons {
    display: flex;
}

.vitrine-left-button {
    background-color: #ff3b73;
    border: solid 1px #ff3b73;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    color: #ffffff;
    font: 12px 'Montserrat Medium';
    padding: 11px 18px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.vitrine-left-button:hover {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
}

.vitrine-left-button.vitrine-left-button-border {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
    margin-left: 10px;
}

.vitrine-left-button.vitrine-left-button-border:hover {
    background-color: #ff3b73;
    color: #ffffff;
}

.vitrine-right {
    text-align: right;
    width: 64%;
}

.vitrine-right-img {
    border-radius: 10px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .vitrine-left-title {
        font: 25px 'Montserrat Bold';
    }

    .vitrine-left-text {
        font: 14px/22px 'Montserrat Regular';
    }
}

@media screen and (max-width: 820px) {
    .vitrine {
        height: auto;
        padding: 50px 60px 60px 30px;
    }

    .vitrine-left {
        width: 100%;
    }

    .vitrine-left-title {
        font: 18px 'Montserrat Bold';
        margin-bottom: 30px;
    }

    .vitrine-left-text {
        color: #152842;
        font: 11px/22px 'Montserrat Regular';
        margin-bottom: 40px;
    }

    .vitrine-right {
        display: none;
    }

    .vitrine-left-buttons {
        flex-direction: column;
    }

    .vitrine-left-button {
        padding: 13px 22px;
        width: fit-content;
    }

    .vitrine-left-button.vitrine-left-button-border {
        margin-left: 0;
        margin-top: 13px;
    }
}

/*
 * Como Funciona.
 */

.como-funciona {
    margin-top: 80px;
    padding-bottom: 100px;
    position: relative;
}

.como-funciona:after {
    background: url(../img/home/como-funciona/effects.png) center 30px no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.como-funciona-title {
    color: #ff3b73;
    font: 20px 'Montserrat Bold';
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.como-funciona-subtitle {
    color: #434244;
    font: 15px 'Montserrat Regular';
    text-align: center;
}

.como-funciona-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.como-funciona-item-content {
    padding: 40px;
    width: 100%;
}

.como-funciona-item {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    min-width: 200px;
    width: 24%;
}

.como-funciona-item-title {
    color: #434244;
    font: 16px 'Montserrat Semi Bold';
    margin-top: 15px;
}

.como-funciona-item-desc {
    color: #434244;
    font: 12px 'Montserrat Light';
    margin-bottom: 15px;
    margin-top: 12px;
}

.como-funciona-item-mais {
    color: #ff3b73;
    font: 11px 'Montserrat Light';
    text-decoration: none;
}

.como-funciona-link {
    color: #ff3b73;
    font: 13px 'Montserrat Bold';
    letter-spacing: 0.3px;
    margin-top: 25px;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}

.como-funciona-link:after {
    background: #ff3b73;
    bottom: -3px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 820px) {
    .como-funciona {
        margin-top: 40px;
    }

    .como-funciona-title {
        font: 16px 'Montserrat Bold';
    }

    .como-funciona-itens {
        margin: 0 auto;
        width: 90%;
    }

    .como-funciona-subtitle {
        font: 14px 'Montserrat Regular';
        margin-bottom: 30px;
    }

    .como-funciona-item-content {
        padding: 20px;
        width: 100%;
    }

    .como-funciona-item {
        min-width: 100px;
        width: 48%;
        margin-bottom: 30px;
    }

    .como-funciona-item-title {
        color: #434244;
        font: 14px 'Montserrat Semi Bold';
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .como-funciona-item-mais {
        color: #ff3b73;
        font: 11px 'Montserrat Medium Italic';
        margin-top: 10px;
    }

    .como-funciona-link {
        display: none;
    }
}

@media screen and (max-width: 480px){
    .como-funciona-item-desc {
        display: none;
    }

    .como-funciona-itens {
        width: 90%;
    }
    .como-funciona-item {
        width: 100%;
    }
}

/*
 * Novidades.
 */

.novidades {
    background-color: #ff3b73;
    position: relative;
    width: 100%;
}

.novidades:before {
    background: url(../img/home/citacao/effects.png) top center no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.novidades-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    min-height: 350px;
    position: relative;
}

.novidades-column-img {
    align-items: flex-end;
    display: flex;
    width: 40%;
    z-index: 100;
}

.novidades-img {
    bottom: 0;
    left: 0;
    position: absolute;
    width: auto;
}

.novidades-column-citacao {
    max-width: 500px;
    width: 60%;
    z-index: 100;
}

.novidades-text {
    color: #ffffff;
    font: 24px 'Montserrat Regular';
    letter-spacing: 0.5px;
}

.novidades-autor {
    color: #ffffff;
    font: 14px 'Montserrat Regular';
    margin-bottom: 30px;
    margin-top: 15px;
}

.novidades-btn {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ff3b73;
    font: 15px 'Montserrat Bold';
    letter-spacing: 0.5px;
    padding: 10px 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.novidades-btn:hover {
    background-color: transparent;
    color: #ffffff;
}

@media screen and (max-width: 820px){
    .novidades-column-img{
        display: none;
    }

    .novidades-column-citacao{
        margin: 0 auto;
        width: 85%;
    }
}

@media screen and (max-width: 480px){
    .novidades-text {
        font: 20px 'Montserrat Regular';
    }

    .novidades-autor {
        font: 12px 'Montserrat Regular';
    }

    .novidades-btn{
        margin: 30px auto 0;
        display: block;
        width: fit-content;
    }
}

/*
 * Máquina e Contato.
 */

.maquina-contato {
    position: relative;
}

.maquina-contato:before {
    background: url(../img/home/contato/effects.png) top left no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: -1;
}

.maquina-contato-columns {
    display: flex;
    padding: 140px 0 100px;
}

.maquina {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    width: 50%;
}

.maquina-title {
    color: #434244;
    font: 23px 'Montserrat Bold';
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.maquina-text {
    color: #434244;
    font: 14px/16px 'Montserrat Regular';
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.maquina-btn {
    background-color: #ff3b73;
    border: solid 1px #ff3b73;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    color: #ffffff;
    font: 12px 'Montserrat Medium';
    padding: 11px 18px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.maquina-btn:hover {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
}

.maquina-btn.maquina-btn-border {
    background-color: transparent;
    box-shadow: none;
    color: #ff3b73;
    margin-left: 10px;
}

.maquina-btn.maquina-btn-border:hover {
    background-color: #ff3b73;
    color: #ffffff;
}

.contato {
    width: 50%;
}

.contato-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    padding: 40px 30px;
}

.contato-title {
    color: #434244;
    font: 20px 'Montserrat Bold';
    margin-bottom: 30px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
}

.contato-title:before {
    background: #ff3b73;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
    width: 4px;
}

.contato-input {
    background-color: #ffffff;
    border: 1px solid #ff3b73;
    border-radius: 10px;
    font: 12px 'Montserrat Light';
    height: 42px;
    letter-spacing: 0.2px;
    margin: 7.5px 0;
    padding: 0 12px;
    width: 100%;
}

.contato-textarea {
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    padding: 12px;
}

.contato-btn-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    width: 100%;
}

.contato-btn {
    background-color: #ff3b73;
    border: solid 2px #ff3b73;
    border-radius: 10px;
    color: #ffffff;
    font: 15px 'Montserrat Bold';
    letter-spacing: 0.5px;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.contato-btn:hover {
    background-color: #ffffff;
    color: #ff3b73;
}

@media screen and (max-width: 768px) {
    .maquina-contato:before {
        display: none;
    }
    
    .maquina-contato-columns {
        flex-direction: column;
    }

    .maquina, .contato{
        margin: 0 auto;
        width: 80%;
    }

    .maquina{
        margin-bottom: 80px;
        padding-right: 0;
    }
    
    .maquina-contato-columns {
        padding: 80px 0 100px;
    }

}

@media screen and (max-width: 480px) {
    .maquina, .contato{
        width: 100%;
    }

    .maquina{
        width: 90%;
    }

    .maquina-title {
        font: 20px 'Montserrat Bold';
    }

    .maquina-text{
        font:   12px/16px 'Montserrat Regular';
    }

}