.login {
    align-items: center;
    background-image: url('../img/login/bg.png');
    background-size: cover;
    display: flex;
    height: calc(100vh - 60px);
    justify-content: center;
    width: 100%;
}

.login-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.login-left {
    width: 70%;
}

.login-type {
    color: #ffffff;
    font: 12px "Montserrat Light";
    letter-spacing: 0.8px;
    margin-bottom: 15px;
    padding-left: 8px;
    position: relative;
    text-transform: uppercase;
}

.login-type:after {
    background: #ffffff;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.login-title {
    color: #ffffff;
    font: 40px "Montserrat Bold";
    letter-spacing: 0.8px;
}

.login-link {
    margin-top: 25px;
    position: relative;
}

.login-link a {
    color: #ffffff;
    font: 12px "Montserrat Semi Bold";
    letter-spacing: 0.8px;
    text-decoration: none;
}

.login-link:after {
    background-image: url('../img/login/arrow.png');
    background-size: cover;
    content: '';
    height: 12px;
    position: absolute;
    right: -30px;
    top: 3px;
    width: 18px;
}

.login-right {
    width: 30%;
}

.login-form-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    min-width: 380px;
    padding: 40px 30px;
}

.login-form-title {
    color: #434244;
    font: 20px 'Montserrat Bold';
    margin-bottom: 30px;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
}

.login-form-title:before {
    background: #ff3b73;
    content: '';
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
    width: 4px;
}

.login-form-subtitle {
    color: #434244;
    font: 10px/14px 'Montserrat Light';
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}

.login-form-input {
    background-color: #ffffff;
    border: 1px solid #ff3b73;
    border-radius: 10px;
    font: 12px 'Montserrat Light';
    height: 42px;
    letter-spacing: 0.2px;
    margin: 7.5px 0;
    padding: 0 12px;
    width: 100%;
}

.login-form-columns {
    align-items: center;
    display: flex;
    font: 10px 'Montserrat Regular';
    justify-content: space-between;
    letter-spacing: 0.2px;
}

.login-form-columns:not(:last-child){
    margin: 15px 0;
}

.login-form-columns:last-child{
    margin: 30px 0 0;
}

.login-form-btn {
    background-color: #ff3b73;
    border: solid 2px #ff3b73;
    border-radius: 10px;
    color: #ffffff;
    font: 15px 'Montserrat Bold';
    letter-spacing: 0.5px;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.login-form-btn:hover {
    background-color: #ffffff;
    color: #ff3b73;
}