.br-header-mobile{
    display: none;
}

.plataforma-content-title {
    text-align: center;
    width: 100%;
}

.plataforma-title {
    color: #ff3b73;
    display: block;
    font: 20px 'Montserrat Bold';
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.plataforma-subtitle {
    color: #434244;
    display: block;
    font: 15px 'Montserrat Regular';
    letter-spacing: 0.4px;
    margin-top: 10px;
}

header {
    align-items: center;
    background-attachment: fixed;
    background-image: url('../img/plataforma/bg.png');
    background-size: cover;
    display: flex;
    height: calc(100vh - 60px);
    justify-content: center;
    margin-top: 60px;
}

.header-content {
    text-align: center;
}

.header-title {
    color: #ffffff;
    font: 66px "Montserrat Black";
    letter-spacing: 3px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.header-subtitle {
    color: #ffffff;
    font: 27px 'Montserrat Light';
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-align: center;
}

.header-button {
    background-color: #ffffff;
    border-radius: 10px;
    color: #ff3b73;
    font: 12px 'Montserrat Bold';
    letter-spacing: 0.5px;
    padding: 13px 15px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.header-button:hover {
    background-color: #ff3b73;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    header {
        height: calc(80vh - 60px);
    }

    .header-title {
        font: 55px "Montserrat Black";
    }

    .header-subtitle {
        font: 23px 'Montserrat Light';
    }
}

@media screen and (max-width: 870px) {
    header {
        height: calc(70vh - 60px);
    }

    .header-content{
        padding: 0 30px;
    }

    .header-title {
        font: 45px "Montserrat Black";
    }

    .header-subtitle {
        font: 18px 'Montserrat Light';
    }
}

@media screen and (max-width: 720px) {
    .header-title {
        font: 50px "Montserrat Black";
    }

    .header-subtitle {
        font: 16px 'Montserrat Light';
    }
}

@media screen and (max-width: 530px) {
    .br-header-mobile{
        display: block;
    }

    .header-title {
        font: 42px "Montserrat Black";
    }

    .header-subtitle {
        font: 15px 'Montserrat Light';
    }
}

@media screen and (max-width: 400px) {
    .header-title {
        font: 35px "Montserrat Black";
    }

    .header-subtitle {
        font: 14px 'Montserrat Light';
    }
}


.vantagens {
    padding-top: 100px;
}

.vantagens-itens {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.vantagens-item {
    margin-bottom: 70px;
    text-align: center;
    width: 33.3%;
}

.vantagens-item-img-content {
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: center;
    margin-bottom: 30px;
}

.vantagens-item-img {
    max-width: 90px;
}

.vantagens-item-title {
    color: #ff3b73;
    font: 15px/25px 'Montserrat Bold';
    letter-spacing: 0.4px;
    margin-bottom: 5px;
}

.vantagens-item-text {
    color: #434244;
    font: 12px 'Montserrat Regular';
    letter-spacing: 0.4px;
}


.fundo {
    position: relative;
}

.fundo:before {
    background: url('../img/plataforma/fundo.png') bottom center no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.resultados {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    width: 100%;
}

.resultados-content {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.resultados-content-container {
    max-width: 400px;
}

.resultados-title {
    color: #434244;
    font: 23px/28px 'Montserrat Bold';
    letter-spacing: 1px;
}

.resultados-title-highlight {
    color: #ff3b73;
}

.resultados-text {
    color: #434244;
    font: 12px/16px 'Montserrat Regular';
    letter-spacing: 0.4px;
}

.resultados-text p {
    margin: 20px 0;
}

.resultados-img-content {
    width: 50%;
}

.resultados-img {
    box-shadow: 11px 11px 0px 0px rgb(255, 59, 115);
    -moz-box-shadow: 11px 11px 0px 0px rgb(255, 59, 115);
    -webkit-box-shadow: 11px 11px 0px 0px rgb(255, 59, 115);
}

@media screen and (max-width: 1024px) {
    .resultados-img {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .resultados-title {
        font: 19px/24px 'Montserrat Bold';
    }
}

@media screen and (max-width: 768px) {
    .resultados {
        flex-direction: column;
        margin: 70px 0;
    }

    .resultados-img-content {
        margin-bottom: 40px;
        max-width: 500px;
        text-align: center !important;
        width: 100%;
    }

    .resultados-content {
        width: 100%;
    }

    .resultados-content-container {
        max-width: 370px;
    }
}

@media screen and (max-width: 500px) {
    .resultados-img {
        width: 100%;
    }

    .resultados-title {
        font: 18px/22px 'Montserrat Bold';
    }

    .resultados-text {
        font: 11px/15px 'Montserrat Regular';
    }
}

.planos {
    margin-bottom: 100px;
    margin-top: 180px;
}

.planos-itens {
    display: flex;
    margin-top: 100px;
}

.planos-item {
    width: 33.3%;
}

.planos-item-box {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    padding: 80px 0 25px;
    position: relative;
    text-align: center;
    margin: auto;
    width: 90%;
}

.planos-item-img {
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #ff3b73;
    border-radius: 50%;
    display: flex;
    height: 110px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 110px;
}

.planos-item-img.rosa {
    background-color: #ff3b73;
}

.planos-item-title {
    margin-bottom: 10px;
    padding: 0 15px;
}

.planos-item-nome {
    color: #ff3b73;
    display: block;
    font: 20px/40px 'Montserrat Bold';
}

.planos-item-nome-subtitle {
    color: #434244;
    display: block;
    font: 15px 'Montserrat Regular';
    letter-spacing: 0.2px;
}

.planos-item-features {
    margin: 15px 0 30px;
}

.planos-item-features-topico {
    background-color: #ffffff;
    color: #434244;
    font: 11px/35px 'Montserrat Regular';
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.planos-item-features-topico.cinza {
    background-color: rgba(235, 235, 235, 0.4);
}

.planos-item-button {
    background-color: #ff3b73;
    border: solid 1px #ff3b73;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    color: #ffffff;
    font: 12px 'Montserrat Regular';
    padding: 11px 18px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.planos-item-button:hover {
    background-color: transparent;
    color: #ff3b73;
}

@media screen and (max-width: 1024px){
    .planos-item-box{
        width: 95%;
    }
}

@media screen and (max-width: 870px){
    .vantagens-item{
        width: 50%;
    }

    .planos-itens{
        flex-direction: column;
    }

    .planos-item{
        width: 50%;
        min-width: 300px;
        margin: 0 auto;
    }

    .planos-item:first-child{
        margin-bottom: 50px;
    }

    .planos-item:not(:first-child){
        margin: 50px auto 50px;
    }
}

@media screen and (max-width: 530px) {
    .vantagens-item{
        width: 100%;
    }
    .resultados {
        margin: 50px 0;
    }

    .planos{
        margin-top: 100px;
    }
}