@import url('font.css');
@import url('reset.css');


body{
	background-color: #ffffff;
	position: relative;
}

.text-regular{
	font-family: 'Montserrat Regular';
}

.text-semibold{
	font-family: 'Montserrat Semi Bold';
}

.text-bold{
	font-family: 'Montserrat Bold';
}

.text-rosa{
	color: #ff3b73;
}

.container{
	width: calc(100% - 240px);
	position: absolute;
	right: 0;
	background-color: #ebeff2;
	min-height: 100vh;
	padding: 40px;
	box-sizing: border-box;
}


/*
 * MENU
 */

.plataforma-menu{
	background-color: #373b61;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: auto;
	width: 240px;
}

.plataforma-menu-content{
	margin: 0 auto;
}

.menu-logo{
	display: block;
	margin: 5vh auto 0;
	text-align: center;
}

.menu-logo-img{
	width: 140px;
}

.plataforma-perfil{
	text-align: center;
}

.plataforma-nome-loja{
	background-color: #717392;
	font: 12px 'Montserrat Light';
	color: #ffffff;
	border-radius: 100px;
	text-align: center;
	padding: 13px 0;
	margin: 25px auto 35px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	width: 80%;
}

.plataforma-perfil-nome{
	font: 14px 'Montserrat Bold';
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-top: 15px;
}

.plataforma-perfil-tipo{
	font: 12px 'Montserrat Light';
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-bottom: 30px;
}

.menu-left-menu{
	font: 15px 'Montserrat Bold';
	letter-spacing: 0.5px;
	color: #ffffff;
	margin-bottom: 30px;
	margin-left: 20px;
	position: relative;
	text-transform: uppercase;
	width: fit-content;
	padding-left: 10px;
}

.menu-left-menu:before{
	content: '';
	width: 2px;
	height: 12px;
	background-color: #ff3b73;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.menu-left-item{
	padding: 8px 20px;
	margin: 4px 0;
}

.menu-left-item.active{
	background-color: #2a2c47;
	position: relative;
}

.menu-left-item.active:after{
	content: '';
	width: 2px;
	height: 100%;
	background-color: #ff3b73;
	position: absolute;
	right: 0;
	top: 0;
}

.menu-left-item.disable{
	opacity: 0.5;
}

.menu-left-item-link{
	font: 11px 'Montserrat Light';
	color: #ffffff;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.menu-left-item-img{
	margin-right: 15px;
}

.menu-left-item-img.sair{
	width: 16px;
}

/*
 * CLASSES BASE
 */

 .plataforma-title{
	font: 20px 'Montserrat Light';
	color: #434244;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 40px;
 }