
/*
 * Montserrat
 */

@font-face {
    font-family: 'Montserrat Thin';
    src: url(../font/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat Thin Italic';
    src: url(../font/Montserrat/Montserrat-ThinItalic.ttf);
}


@font-face {
    font-family: 'Montserrat Extra Light';
    src: url(../font/Montserrat/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: 'Montserrat Extra Light Italic';
    src: url(../font/Montserrat/Montserrat-ExtraLightItalic.ttf);
}


@font-face {
    font-family: 'Montserrat Light';
    src: url(../font/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat Light Italic';
    src: url(../font/Montserrat/Montserrat-LightItalic.ttf);
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url(../font/Montserrat/Montserrat-Italic.ttf);
}


@font-face {
    font-family: 'Montserrat Medium';
    src: url(../font/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Medium Italic';
    src: url(../font/Montserrat/Montserrat-MediumItalic.ttf);
}


@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url(../font/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat Semi Bold Italic';
    src: url(../font/Montserrat/Montserrat-SemiBoldItalic.ttf);
}


@font-face {
    font-family: 'Montserrat Bold';
    src: url(../font/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat Bold Italic';
    src: url(../font/Montserrat/Montserrat-BoldItalic.ttf);
}



@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url(../font/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Montserrat Extra Bold Italic';
    src: url(../font/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}


@font-face {
    font-family: 'Montserrat Black';
    src: url(../font/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat Black Italic';
    src: url(../font/Montserrat/Montserrat-BlackItalic.ttf);
}