.line-box {
    display: flex;
    justify-content: space-between;
}

.column-box{
    display: flex;
    flex-direction: column;
}

.box {
    background-color: #ffffff;
    box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(28, 27, 34, 0.1);
    border-radius: 10px;
    padding: 20px 25px;
    box-sizing: border-box; 
    margin-bottom: 20px;
}

.column-65 {
    width: 63%;
}

.column-35 {
    width: 35%;
}

.box-title{
    font: 15px 'Montserrat Bold';
    color: #ff3b73;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.box-title-description{
    text-transform: initial;
    color: #434244;
    font: 13px 'Montserrat Regular';
}

.box-subtitle{
    font: 12px 'Montserrat Light';
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.box-number{
    width: 31%;
}

.box-insight-item{
    font: 12px 'Montserrat Regular';
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

.number{
    font: 33px 'Montserrat Bold';
    color: #ff3b73;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 5px;
}

.text{
    font: 12px 'Montserrat Light';
    color: #434244;
    text-align: center;

}

.img-grafico{
    margin-top: 10px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .line-content{
        flex-direction: column;
    }

    .column-35, .column-65{
        width: 100%;
    }

}

@media screen and (max-width: 900px) {
    .box-number{
        width: 100%;
    }
    .line-box{
        flex-direction: column
    }
}

@media screen and (max-width: 800px) {
    .box-grafico{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .plataforma-menu{
        position: initial;
        top: initial;
        left: initial;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .menu-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-left-item{
        width: 25%;
    }
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .menu-left-item{
        width: 38%;
    }

    .container{
        width: 100%;
        padding: 40px 5%;
        position: initial;
        right: initial;
    }
}

@media screen and (max-width: 350px) {
    .menu-left-item{
        width: 100%;
    }
}